@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');


body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Montserrat";
    font-size: 18px;
    position: relative;
    padding-bottom: 3em;
    min-height: 100vh;
    display: block;
    /* line-height: 30px; */
    /* background-color: black; */
}


.nav{ 
    position: absolute;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #FFBD59;
    z-index: 5;
    
}

.nav-links li{
    padding: 0 20px;   
    display: inline-block;
    list-style: none;
}


a{
    text-decoration: none;
    color: #000000;
    font-weight: 400;
    
}


.main{
    padding-top: 5.5rem;
}

.overlay-container{
    margin: 0;
    padding: 0;
    position: relative;
    display: inline-block;
    text-align: center;
    width: 100%;
}

.image-container img{
    width: 100%; 
    height:400px;
}


.text-container{
    position: absolute;
    top: 10%;
    left: 40%; 
    /* display: flex;
    justify-content: flex-start;
    align-items: center; */
}



.nav-links a:hover{
    color: #000000;
    
}

.container-columnas{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap 
    
}

.columna_uno{
   width: 600px;
   border: solid 3px #FFBD59;
   padding: 10px;

}

.columna_dos{
    width: 600px;
}


.contenedor_img h3{
    text-align: center;
}

.contenedor_img img{
    display: block;
    margin: auto;
}

.quienes-somos hr,
.clientes hr,
.portfolio hr {
    width: 50%;
    height: 2px;
    background-color: #FFBD59;
    border: 0;
}

.diseños {
    text-align: center;
}

.pasarela li{
    display: inline;
    padding-right: 0.5em;
    text-align: center;
}


.img-pasarela{
    width: 300px;
    height: 300px;
}


.container{
   display: flex;
   height: 100vh;
   flex-direction: column;
   
}



.footer{
   
    width: 100%;
    background-color: #FFBD59;
    bottom: 0;
    position: absolute;
    display: flex;
    justify-content: space-around;

}


.titulo {
    text-align: center;
    align-items: center;
    justify-content: center;
    width: 100%;
    color: #FFBD59;
}

.slider_portfolio{
    display: flex;
    flex-direction: row;
    margin: 8px 0 8px 0;
    align-items: center;
    justify-content: center;
}

.slider_portfolio li {
    list-style: none;
    margin: 0 5px 5px 0;
    border: solid 2px black;
}

.slider_portfolio img{
    background-color: red;
    width: 300px;
    height: 250px;

}

.slider_clientes {
    display: flex;
    flex-direction: row;
    margin: 8px 0 8px 0;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
}

.slider_clientes li {
    list-style: none;
    margin: 0 20px 20px 0;
}

.slider_clientes img{
    width: 100px;
    height: 100px;
}

.proyect-1{
    display: flex;
    flex-direction: row;

}

.proyect_container{
    display: inline-block;
    margin: 10px 10px 10px 10px; 
    vertical-align: top;
    
}

.proyect_container img{
    margin-top: 25px;
    width: 257px;
    height: 210px;
}

.proyect_data {
    width: 600px;
    float: right;
    margin-left: 20px;
}

.proyect_data p{
    font-size: 15px;
}

.proyect_images{
    display: block;
    align-items: flex-end;
    justify-content: flex-end;
}

.proyect_list{
    display: flex;
    flex-direction: row;
}

.proyect_list li{
    list-style: none;
}



.staff-container{
    display: flex;
    justify-content: center;
    align-items: center;
}


.staff-card{
    justify-content: center;
    align-items: center;
    display: inline-block;
    width: 340px;
    margin: 0px 5px 0px 5px;
    overflow: hidden; 
}

.staff-card img{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.staff-data{
    background-color: red;
}


.contacto2 {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 100px;
    background-color: #faa92f;
    color: white;
    font-size: 25px;
    
}


/* h1{
    text-align: center;
} */

.card h1 {
    font-size: 20px;
}

.card p {
    font-size: 15px;
}

.cards {
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.card{
    width: 350px;
}

.card img{
    width: 350px;
    height: 250px;
   
}

.card-text{
    list-style: none;
    width: 300px;
    font-size: 15px;
    line-height: 20px;
    
    
}

.cambio-idioma{
    border: 2px solid #000000;
    border-radius: 50px; 
    background-color: #FFBD59;
    padding: 5px;
    text-decoration: none;
    font-family: "Montserrat";
    font-size: 20px;
}

.cambio-idioma:hover{
    background-color: #000000;
    color: #FFBD59;
    
}

/* TENGO QUE REEMPLAZAR LAS CARDS POR DIFERENTES LISTAS Y ASI GENERAR FILAS CON PROYECTOS EN COMUN */ 


.lista-proyectos {
    padding-top: 20px;
    display: flex;
    flex-direction: row;
    margin: 8px 0 8px 0;
}

.lista-proyectos li {
    list-style: none;
}

.sub-proyecto {
    padding-left: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.button-ver {
    width: 100%;
    border: 1px solid #000000;
    border-bottom-right-radius: 30px;
    border-bottom-left-radius: 30px;
    background-color: #FFBD59;
    font-family: "Montserrat";
    cursor: pointer;
}



.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Fondo semi-transparente */
    display: none; /* Ocultar por defecto */
    align-items: center; /* Centrar verticalmente */
    justify-content: center; /* Centrar horizontalmente */
  }
  
  /* Estilos para el modal */
  .modal {
    background-color: #fff;
    padding: 20px;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
    max-width: 80%;
    max-height: 80%;
    overflow-y: auto; /* Habilitar el scroll si el contenido es más grande que el modal */
    display: flex;

  }

  .modal-text{
    width: 300px;
    font-size: 13px;
  }
  
  /* Estilos para el botón de cerrar */
  .close-modal {
    background-color: #ccc;
    color: #000;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 20px;
  }

.container-main{
    display: flex;
    flex-direction: row;  
    margin-top: 30px;
    justify-content: center;
}


.quienes-somos {
    display: flex;
    flex-direction: column;
    width: 500px;
    margin-left: 25px;
    background-color: #FFBD59;
    height: 100%;
    position: relative;
    z-index: 1;
    
}

.quienes-somos p {
   font-size: 15px;

}


.quienes-somos img{
    width: 500px;
    
}

.medio {
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-right: 20px;
}

.nuestra-vision {
    margin-bottom: 20px;
    width: 500px;
    display: block;
    border: solid 2px;
  
}

.nuestra-mision {
    width: 500px;
    display: block;
    border: solid 2px;
   
}


.texto{
    padding: 10px;
    border: solid 2px;
    height: 100px;
   
}

.formulario div {
    margin-bottom: 10px;
    margin-top: 30px;
}

.form input{
    border: solid 1px black;
    outline: none;
    width: 300px;
    height: 20px;

}


.form textarea {
    width: 100%;
    height: 100px;
}

.form{
    display: flex;
    height: 100%;
    padding: 20px;
    background-color: #FFBD59;
    flex-direction: column;
    position: relative;
}


.form button{
    height: 30px;
}

.formulario{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;

}



.leyenda {
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.leyenda p{
    text-align: center;
}

.datos-contacto {
   
}


.footer-contacto {
    background-color: #fff;
    margin-left: 500px;
    width: 700px;
    border: 5px solid #000000;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 2;
}